@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');


body{
    background-color: rgb(250,250,250);
    padding: 0;
    margin: 3rem auto;
    font-family: "Roboto",sans-serif;
    width: auto;
    height: 100vh;
}
.row div{
    padding:0;
}

/* ---------------------------------------- Header, Footer and logo items  --------------------------------------------------------------------*/

.navbar{
    padding: 0;
    margin:0;
    width:100%;
}
.nav-item{
    margin-right: 2rem;
}

.toggler-button{
    border-color:white; 
    
}
.bg-blue {
   background-color: rgb(14, 0, 197);
}

.title {
    background-image:url("../images/NBA.jpg");
    height: 2.5rem;
    width: 100%;
    margin-left:1rem;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    transition: all 2s ease-in;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.icon{
    color:white;
    text-decoration: none;
}
footer{
    text-align: center;
}
/* ---------------------------------------- General Section Classes  --------------------------------------------------------------------*/
.section{
    padding:0;
    margin:0;
}

.header{
    margin:1rem 1rem;
}
/* ---------------------------------------- Conference Standings --------------------------------------------------------------------*/

.conference-standings{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.conference-standings th{
    color: white;
    background-color: rgb(14, 0, 197);
}
.logo{
    display:contain;
    background-repeat: no-repeat;
    height: 50px;
}

/* ---------------------------------------- Video   --------------------------------------------------------------------*/
.video-title{
    font-weight: 400;
    padding: 0;
    margin: 1rem 1.5rem 1.5rem;
}

.content-video{
    padding:0;
    text-align: center;
}
/* ---------------------------------------- News items  --------------------------------------------------------------------*/
.news button{
    margin:0 0 1.5rem 2rem;
}
.news div{
    margin: 1rem 0;
}
.news a{
    text-decoration: none;
    color:black;
}
.news h4{
    padding:0.5rem 0.5rem;
    font-weight: 400;
}
.news p{
    display:inline-block;
    text-emphasis: wrap;
    padding: 0 0.5rem;
    margin: 0;
}
.news a{
    display:inline;
}

.news-section ul {
list-style-type: none;

}
.media {
    width:15.63rem;
    height:9.375rem;
    margin: auto 1.5rem;    
}
/* ---------------------------------------- Contact Form --------------------------------------------------------------------*/
.contact-heading{
    font-family: "Exo", sans-serif;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
    display: inline;
}
/* ---------------------------------------- Player Data --------------------------------------------------------------------*/

.data{
    margin: 0 auto;
}
.player-data{
margin: 0 auto;
width:90%;
}
#player-image-container{
    text-align: center;
}
#nba-user-data{
    margin: 3rem auto;
    text-align: center;
}

.player-header{
    padding: 1rem 0;
    font-size: 1.5rem;
    margin: 0 auto;
    max-width: 80%;
    font-weight: 300;
    font-family: "Exo", sans-serif;
}

.headshot{
    display: contain;
    background-repeat: no-repeat;
    padding:2rem 0;
    transition: all 2s ease-in;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.player-form{
    margin:0 auto;
}
/* ---------------------------------------- Auto Complete --------------------------------------------------------------------*/
.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
/* ---------------------------------------- Player & Loader Images --------------------------------------------------------------------*/
.gallery{
  clear:both;
  line-height: 0;
  column-count: 2;
  column-gap: 0px;
  margin: 0 20px;

}
.gallery-item{
    width:100%;
}

#loader{
    
    margin: 2rem auto;
    text-align: center;
}
#loader img{
    width: 20%;
    height: auto;
    transition: all 2s ease-in;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
    
}


/* ---------------------------------------- Responsive Design Elements --------------------------------------------------------------------*/
@media screen and (min-width: 600px) {
  .news p{
      width:50%;
  }
  .news h4{
      margin-right: 10%;
      display: block;
  }
  .media{
      display:inline-block;
      position:relative;
      bottom:1rem;
  }
  .gallery{
 column-count: 3;
 margin-bottom: 3rem;
  }
}

@media only screen and (min-width:768px) and (max-width: 1025px){
    .player-image-container{ 
        margin-left:auto;
    }
    .media{
        position:static;
        margin-left: 10%;
    }
    .news p{
        width:90%;
        padding: 1rem 0.5rem;
    }
    .news h4{
      margin: 0;    
  }
    .icon{
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1026px){
.icon{
        font-size: 1.5rem;
    }
    
}


/* ---------------------------------------- Interactivity classes --------------------------------------------------------------------*/
.underline{
    text-decoration: underline;
    color:black;
}
.uppercase{
    text-transform: uppercase;
}
.image-highlight{
    opacity: 0.6;
}